$dark-blue: #001C31;
$mid-dark-blue: #002c4a;
$mid-blue: #00A6EE;
$light-blue: #9FC5E8;

$background-color: $dark-blue;
$foreground-color: $mid-dark-blue;
$border-color: $mid-blue;
$font-color: $light-blue;

$red: #FF6338;
$dark-red: #751B0F;
$orange: #FF9F1C;
$dark-orange: #9B5A00;
$green: #7DD36B;
$dark-green: #347228;