div {
  margin: 20px;
  padding: 0;
}

div.container {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
}

div.item {
  flex: 1 100%;

}

div.zone {
  margin: 0;
  border-top: 1px solid #EFEFEF;
  padding: 20px 0;
}