html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  margin: 20px;
  padding: 0;
}

div.container {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
}

div.item {
  flex: 1 100%;
}

div.zone {
  margin: 0;
  border-top: 1px solid #EFEFEF;
  padding: 20px 0;
}

form {
  display: inline;
}

button {
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}
button i.material-icons {
  font-size: 1rem;
}
button.green {
  background-color: #2BA84A;
}
button.green:hover {
  background-color: #299E46;
}
button.red {
  background-color: #CE3F35;
}
button.red:hover {
  background-color: #BF352B;
}
button.grey {
  color: #55595B;
  background-color: #A6ADB2;
}
button.grey:hover {
  color: #343638;
  background-color: #9CA3A8;
}

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #333333;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.4rem;
  display: inline-block;
}

h4 {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
