<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hacker Hunt Admin</title>
</head>
<body>

<div>
    Beacons
    <table>
        <tr>
            <td>Name</td>
            <td>Major</td>
            <td>Minor</td>
            <td></td>
        </tr>
        <tr th:each="beacon : ${beacons}">
            <form method="post" th:action="@{delBeacon}">
                <input type="hidden" th:value="${beacon.id}" name="beacon_id"/>
                <td><span th:text="${beacon.name}"/></td>
                <td><span th:text="${beacon.major}"/></td>
                <td><span th:text="${beacon.minor}"/></td>
                <td><button type="submit">-</button></td>
            </form>
        </tr>
        <tr>
            <form method="post" th:action="@{/initBeacon}">
                <td><input type="text" name="beacon_name"/></td>
                <td><input type="text" name="beacon_major"/></td>
                <td><input type="text" name="beacon_minor"/></td>
                <td><button type="submit">+</button></td>
            </form>
        </tr>
        <tr>
            <form method="post" th:action="@{/delBeacons}">
                <td>
                    <button type="submit">Delete all</button>
                </td>
            </form>
        </tr>
    </table>
</div>

<div>
    Game
    <table>
        <tr th:each="game : ${games}">
            <td>Game Start Time</td>
            <td><span th:text="${game.startTime}"/></td>
            <td></td>
        </tr>
        <tr>
            <form method="post" th:action="@{/initGame}">
                <td>New Game</td>
                <td><input type="text" name="start_time" placeholder="HH:MM:SS.MSS"/></td>
                <td><button type="submit">+</button></td>
            </form>
        </tr>
    </table>
</div>

</body>
</html>