<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Hacker Hunt | Player Home</title>
</head>
<body>

    <a th:href="@{/}">Home</a>

    <div>
        Your real name is: <span th:text="${player.realName}"/><br/>
        Your hacker name is: <span th:text="${player.hackerName}"/><br/>
        Your target is: <span th:text="${player.target.hackerName}"/><br/>
        You have: <span th:text="${player.kills}"/> kills
    </div>

    <table border="1">
        <tr>
            <td>Contact</td>
            <td>Interactions</td>
            <td>Interact</td>
            <td>Hacker Name</td>
            <td>Kill</td>
        </tr>
        <tr th:each="information : ${informations}">
            <td><span th:text="${information.contact.realName}"/></td>
            <td><span th:text="${information.interactions}"/></td>
            <td>
                <form method="post" th:action="@{/interact}">
                    <input type="hidden" th:value="${player.id}" name="ownerId"/>
                    <input type="hidden" th:value="${information.contact.id}" name="contactId"/>
                    <button type="submit">Interact</button>
                </form>
            </td>
            <td>
                <span th:if="${information.interactions}>=5" th:text="${information.contact.hackerName}"/>
                <span th:if="${information.interactions}<5"><em>Unknown</em></span>
            </td>
            <td>
                <form method="post" th:action="@{/killPlayer}">
                    <input type="hidden" th:value="${player.id}" name="ownerId"/>
                    <input type="hidden" th:value="${information.contact.id}" name="contactId"/>
                    <button type="submit" th:if="${information.contact}==${player.target} and ${information.interactions}>=5">Kill</button>
                </form>

            </td>
        </tr>
    </table>

</body>
</html>