<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Hacker Hunt | Player Home</title>
</head>
<body>

    <div>
        Your real name is: <span th:text="${player.realName}"/><br/>
        Your hacker name is: <span th:text="${player.hackerName}"/><br/>
        Your target is: <span th:text="${player.target.hackerName}"/>
    </div>

</body>
</html>