<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Hacker Hunt | Select Player</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>

    <div>
        <button type="button">
            <a th:href="@{/initGame}">Initialise Game</a>
        </button>
    </div>

    <div>
        Select your name
        <div th:each="player : ${players}">
            <a th:href="@{/playerHome/{id}(id=${player.id})}" th:text="${player.realName}"></a>
        </div>
    </div>

</body>
</html>